@mixin relativeSize($height, $width) {
  height: $height / 1230 * 100vh;
  width: $width / 720 * 100vw;
}
@mixin relativeFontSize($width) {
  font-size: $width / 720 * 100vw;
}

@mixin relativePosition($position,$left, $top) {
  position: $position;
  left: $left / 720 * 100vw;
  top: $top / 1230 * 100vh;
}
@mixin anim($function, $staytime, $way, $time, $result) {
  animation: $function $staytime $way $time $result;
  -webkit-animation: $function $staytime $way $time $result;
  -o-animation: $function $staytime $way $time $result;
  -moz-animation: $function $staytime $way $time $result;
}