@import "../../../styles/mixins.scss";
@import "../../../styles/colors.scss";
.intro_card{
    overflow: auto;
    background-color: $member-card-bckground;
    border-radius: 10%;
    @include relativeSize(227,190);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25 / 750 * 100vw;
    padding: 15px 13 / 750 * 100vw;
}
.intro_card_photo{
    display: block;
    // height: 130px;
    // width: 130px;
    @include relativeSize(112,114);
    border-radius: 50%;
    // position: relative;
    // top: 25px;
    // left: 50%;
    // @include transingle(translateX(-50%));
    // background-size: contain;
}
.intro_card_name{
    margin-top: 9px;
}

.intro_card_introduction{
    margin-top: 11px;
}