@import '../../styles/base.scss';
@import '../../styles/color.scss';
.header-containner{
    text-align: center;
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $nav;
    height:100px;
}
.header-logo{
    background-color: aqua;
    flex: 1;
}
.header-title{
    background: yellow;
    flex: 4;
}
.header-triangle{
    background-color: tomato;
    flex: 1;
}