@import "../../styles/mixins.scss";
.header-container {
  z-index: 999;
  position: fixed;
  top: 0;
  background-color: rgb(32, 53, 60);
  @include relativeSize(100, 720);
  @include relativeFontSize(35);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // line-height: 100 / 1230 * 100vh;
  .header-logo {
    flex: 1;

    // .header-logo-pic{
    //     background-image: url('http://p9j8ahs4w.bkt.clouddn.com/mobile_site/logo.png');

    // }
  }
  .header-title {
    flex: 1;
  }
  .header-menu {
    flex: 1;
   
  }
}

.triangle {
  @include relativeSize(20, 52);
  display: inline-block;
  margin: 0 auto;
  background-color: rgb(253,255,220);
  background-clip: content-box;
  padding: 3 / 1230 * 100vh 0;
  border-top: 5 / 1230 * 100vh solid rgb(253,255,220); 
  border-bottom: 5 / 1230 * 100vh solid rgb(253,255,220); 


  // height: 5px;
  // width: 53px;
  // background-color:blue;
  // display: inline-block; 
  // margin: 0 auto;
  //  background-clip: content-box; 
  //  padding: 3px 0; 
  //  border-top: 5px solid blue;  
  // border-bottom: 5px solid blue; 
}
// .viewport{
//     position: relative;
//     top: 0;
//     width: 100%;
//     height: 100vh;
// }
// .pageview{
//     height: 100%;
//     width: 100%;
// }

// @import '../../styles/base.scss';
// @import '../../styles/color.scss';
// .header-containner{
//     text-align: center;
//     display: flex;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-color: $nav;
//     height:100px;
// }
// .header-logo{
//     background-color: aqua;
//     flex: 1;
// }
// .header-title{
//     background: yellow;
//     flex: 4;
// }
// .header-triangle{
//     background-color: tomato;
//     flex: 1;
// }
