@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
.groups-innercontainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $txt-color;
}
.group-picture-containner {
  // margin-top:  / 1280 *100vh
}
.group-picture {
  @include relativeSize(542, 563);
  // background-image: url("http://test-sdk.muxixyz.com/mobile_site/mobile_site/group-backend.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
  height: auto;
}
.group-name {
  margin-top: 15 / 1230 * 100vh;
  @include relativeFontSize(47);
  font-weight: 800;
}
.group-intro {
  width: 501 / 750 * 100vw;
  margin-top: 42 / 1230 * 100vh;
  @include relativeFontSize(32);
  line-height: 150%;
}
.group-learn {
  width: 501 / 750 * 100vw;
  margin-top: 38 / 1230 * 100vh;
  @include relativeFontSize(32);
  line-height: 150%;
}
