@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
.groups-innercontainer {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color: $txt-color;
  }
  .group-picture-containner{
    flex:683/1129;
  }
  .group-picture{
    @include relativeSize(630, 601);
    //background-image: url("../../../static/group-backend.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

  }
  .group-name{
    @include relativeFontSize(47);
    font-weight: 800;
  
  }
  .group-intro{
    @include relativeFontSize(37);
  
  }
  .group-learn{
    @include relativeFontSize(37);
  
  }